$color-primary: #222d31;
$color-secondary: #bbace6;
$color-border: #ededf3;
$color-background: #ffffff;
$color-background-secondary: #d8cff0;
$color-timeline-line: #d8cff0;
$color-timeline-bg: #ffffff;

$breakpoint-xs: 600px;
$breakpoint-sm: 960px;
$breakpoint-lg: 1264px;

$breakpoint-sm-height: 720px;